/* You can add global styles to this file, and also import other style files */
body {
  background-color: #F5F5F5 !important;
  font-family: monospace !important;
}

:root {
  --tile-text-color: #6B717E  /* C89F9C */;
  --tile-head-background: #f7f7f7;
  --tile-body-background: #f7f7f7;
  --tile-icon-color: #f1b80c/*#736372*/;


}
